<section>
  <h3>PROYECTOS</h3>
  <ul> 
    <li>
      <p>app-devcamp</p>
      <p><a href=`https://github.com/moraisLuisM/app-devcamp.git`>https://github.com/moraisLuisM/app-devcamp.git</a></p>
    </li>
    <li>
      <p>so_long</p>
      <p><a href=`https://github.com/moraisLuism/so_long.git`>https://github.com/moraisLuism/so_long.git</a></p>
    </li>
    <li>
      <p>Libft</p>
      <p><a href=`https://github.com/moraisLuism/Libft.git`>https://github.com/moraisLuism/Libft.git</a></p>
    </li>
    <li>
      <p>get_next_line</p>
      <p><a href=`https://github.com/moraisLuism/get_next_line.git`>https://github.com/moraisLuism/get_next_line.git</a></p>
    </li>
    <li>
      <p>Pipex</p>
      <p><a href=`https://github.com/moraisLuism/pipex.git`>https://github.com/moraisLuism/pipex.git</a></p>
    </li>

    <li>
      <p>ft_printf</p>
      <p><a href=`https://github.com/moraisLuism/ft_printf.git`>https://github.com/moraisLuism/ft_printf.git</a></p>
    </li>
    <li>
      <p>fantastic-fries</p>
      <p><a href=`https://github.com/moraisLuism/fantastic-fries.git`>https://github.com/moraisLuism/fantastic-fries.git</a></p>
    </li>
    <li>
      <p>proyecto-coinbase</p>
      <p><a href=`https://github.com/moraisLuism/proyecto-coinbase.git`>https://github.com/moraisLuism/proyecto-coinbase.git</a></p>
    </li>
    <li>
      <p>portfolio</p>
      <p><a href=`https://github.com/moraisLuism/moraisLuism.portfolio.git`>https://github.com/moraisLuism/moraisLuism.portfolio.git</a></p>
    </li>
   
  </ul>
</section>

<style>
  Section {
    max-width: 700px;
    margin: 0 auto 18px;

    h3 {
      margin-bottom: 5px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    @media (width <= 700px) {
      time {
        text-align: right;
      }
    }
  }
</style>
