---
const { title } = Astro.props
---

<section>
  {title &&
  <h2>{title}</h2>
  }
  <slot />
</section>
<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }
  h2 {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
  }
</style>
